/* Frame 35 */

position: relative;
width: 258px;
height: 824px;



/* pop up */

position: absolute;
width: 258px;
height: 824px;
left: 0px;
top: 0px;



/* Rectangle 11 */

position: absolute;
width: 258px;
height: 824px;
left: 0px;
top: 0px;

background: #262401;


/* Ellipse 2 */

position: absolute;
width: 69px;
height: 69px;
left: 22px;
top: 89px;

background: url(.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));


/* Group 16 */

position: absolute;
width: 99px;
height: 41px;
left: 102px;
top: 105px;



/* et:facebook */

position: absolute;
visibility: hidden;
width: 20px;
height: 20px;
left: 205px;
top: 168px;



/* Group */

position: absolute;
left: -0.11%;
right: -0.11%;
top: -0.11%;
bottom: -0.11%;



/* Vector */

position: absolute;
left: -0.11%;
right: -0.11%;
top: -0.11%;
bottom: -0.11%;

background: #61A7F9;


/* Vector */

position: absolute;
left: 34.36%;
right: 37.47%;
top: 21.86%;
bottom: 21.86%;

background: #61A7F9;


/* et:twitter */

position: absolute;
visibility: hidden;
width: 20px;
height: 20px;
left: 232px;
top: 168px;



/* Group */

position: absolute;
left: -0.11%;
right: -0.11%;
top: -0.11%;
bottom: -0.11%;



/* Vector */

position: absolute;
left: -0.11%;
right: -0.11%;
top: -0.11%;
bottom: -0.11%;

background: #BE6615;


/* Vector */

position: absolute;
left: 26.46%;
right: 20.2%;
top: 29.58%;
bottom: 26.46%;

background: #BE6615;


/* Group 15 */

position: absolute;
width: 99px;
height: 41px;
left: 102px;
top: 105px;



/* John Doe */

position: absolute;
width: 79px;
height: 25px;
left: 105px;
top: 105px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
/* identical to box height */

color: #FFFFFF;



/* jenny@gmail.com */

position: absolute;
width: 99px;
height: 16px;
left: 102px;
top: 130px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

color: #C0C0C0;



/* Group 14 */

position: absolute;
visibility: hidden;
width: 93px;
height: 30px;
left: 105px;
top: 163px;



/* Rectangle 4 */

box-sizing: border-box;

position: absolute;
width: 93px;
height: 30px;
left: 105px;
top: 163px;

background: #FFFFFF;
opacity: 0.15;
border: 1px solid #FFFFFF;
border-radius: 100px;


/* Edit Profile */

position: absolute;
width: 64px;
height: 16px;
left: 119px;
top: 171px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;

color: #FFFFFF;



/* Dismiss / undefined / Glyph: undefined */

position: absolute;
width: 20px;
height: 20px;
left: 220px;
top: 59px;

mix-blend-mode: normal;


/* Vector */

position: absolute;
left: 16.67%;
right: 18.75%;
top: 16.67%;
bottom: 18.75%;

background: #92B158;


/* Frame 34 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 258px;
height: 450px;
left: 0px;
top: 216px;



/* Group 38 */

width: 258px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 33 */

position: absolute;
width: 258px;
height: 50px;
left: 0px;
top: 0px;



/* Group 29 */

position: absolute;
width: 258px;
height: 50px;
left: 0px;
top: 0px;



/* Rectangle 12 */

position: absolute;
width: 258px;
height: 50px;
left: 0px;
top: 0px;

background: #262401;


/* Pick Up History */

position: absolute;
width: 103px;
height: 19px;
left: 81px;
top: 16px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;



/* Group 21 */

position: absolute;
width: 20px;
height: 20px;
left: 38px;
top: 15px;



/* Ellipse 4 */

box-sizing: border-box;

position: absolute;
visibility: hidden;
width: 30px;
height: 30px;
left: 33px;
top: 10px;

background: #FFFFFF;
opacity: 0.15;
border: 1px solid #FFFFFF;


/* fluent:home-20-filled */

position: absolute;
width: 20px;
height: 20px;
left: 38px;
top: 15px;



/* Group */

position: absolute;
left: 15%;
right: 15%;
top: 10.02%;
bottom: 15%;



/* Vector */

position: absolute;
left: 15%;
right: 15%;
top: 10.02%;
bottom: 15%;

background: #92B158;


/* Group 39 */

width: 258px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 33 */

position: absolute;
width: 258px;
height: 50px;
left: 0px;
top: 50px;



/* Group 29 */

position: absolute;
width: 258px;
height: 50px;
left: 0px;
top: 0px;



/* Rectangle 12 */

position: absolute;
width: 258px;
height: 50px;
left: 0px;
top: 0px;

background: #262401;


/* Join Our Community */

position: absolute;
width: 136px;
height: 19px;
left: 81px;
top: 66px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;



/* Group 22 */

position: absolute;
width: 20px;
height: 20px;
left: 38px;
top: 65px;



/* Ellipse 4 */

box-sizing: border-box;

position: absolute;
visibility: hidden;
width: 30px;
height: 30px;
left: 33px;
top: 60px;

background: #FFFFFF;
opacity: 0.15;
border: 1px solid #FFFFFF;


/* ri:service-fill */

position: absolute;
width: 20px;
height: 20px;
left: 38px;
top: 65px;



/* Vector */

position: absolute;
left: 5.23%;
right: 5.23%;
top: 10.68%;
bottom: 9.7%;

background: #92B158;


/* Group 40 */

width: 258px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 33 */

position: absolute;
width: 258px;
height: 50px;
left: 0px;
top: 100px;



/* Group 29 */

position: absolute;
width: 258px;
height: 50px;
left: 0px;
top: 0px;



/* Rectangle 12 */

position: absolute;
width: 258px;
height: 50px;
left: 0px;
top: 0px;

background: #262401;


/* Notifcations */

position: absolute;
width: 103px;
height: 19px;
left: 81px;
top: 116px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;



/* Group 21 */

position: absolute;
width: 17.33px;
height: 20px;
left: 37.53px;
top: 115px;



/* Ellipse 4 */

box-sizing: border-box;

position: absolute;
visibility: hidden;
width: 30px;
height: 30px;
left: 33px;
top: 110px;

background: #FFFFFF;
opacity: 0.15;
border: 1px solid #FFFFFF;


/* Group 23 */

position: absolute;
width: 17.33px;
height: 20px;
left: 37.53px;
top: 115px;



/* Ellipse 4 */

box-sizing: border-box;

position: absolute;
visibility: hidden;
width: 30px;
height: 30px;
left: 36px;
top: 110px;

background: #FFFFFF;
opacity: 0.15;
border: 1px solid #FFFFFF;


/* ion:notifications */

position: absolute;
left: 14.55%;
right: 78.73%;
top: 25.56%;
bottom: 70%;



/* Vector */

position: absolute;
left: 12.47%;
right: 12.47%;
top: 6.25%;
bottom: 21.88%;

background: #92B158;


/* Vector */

position: absolute;
left: 36.15%;
right: 36.15%;
top: 84.38%;
bottom: 6.25%;

background: #92B158;


/* Group 41 */

width: 258px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Frame 33 */

position: absolute;
width: 258px;
height: 50px;
left: 0px;
top: 150px;



/* Group 29 */

position: absolute;
width: 258px;
height: 50px;
left: 0px;
top: 0px;



/* Rectangle 12 */

position: absolute;
width: 258px;
height: 50px;
left: 0px;
top: 0px;

background: #262401;


/* Messages */

position: absolute;
width: 64px;
height: 19px;
left: 81px;
top: 166px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;



/* Group 24 */

position: absolute;
width: 20px;
height: 20px;
left: 38px;
top: 165px;



/* Ellipse 4 */

box-sizing: border-box;

position: absolute;
visibility: hidden;
width: 30px;
height: 30px;
left: 33px;
top: 160px;

background: #FFFFFF;
opacity: 0.15;
border: 1px solid #FFFFFF;


/* fluent:chat-32-filled */

position: absolute;
width: 20px;
height: 20px;
left: 38px;
top: 165px;



/* Group */

position: absolute;
left: 7.97%;
right: 9.37%;
top: 9.38%;
bottom: 7.81%;



/* Vector */

position: absolute;
left: 7.97%;
right: 9.37%;
top: 9.38%;
bottom: 7.81%;

background: #92B158;


/* Group 42 */

width: 258px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Frame 33 */

position: absolute;
width: 258px;
height: 50px;
left: 0px;
top: 200px;



/* Group 29 */

position: absolute;
width: 258px;
height: 50px;
left: 0px;
top: 0px;



/* Rectangle 12 */

position: absolute;
width: 258px;
height: 50px;
left: 0px;
top: 0px;

background: #262401;


/* My Profile */

position: absolute;
width: 79px;
height: 19px;
left: 81px;
top: 216px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;



/* Group 25 */

position: absolute;
width: 20px;
height: 20px;
left: 38px;
top: 215px;



/* Ellipse 4 */

box-sizing: border-box;

position: absolute;
visibility: hidden;
width: 30px;
height: 30px;
left: 33px;
top: 210px;

background: #FFFFFF;
opacity: 0.15;
border: 1px solid #FFFFFF;


/* clarity:avatar-solid */

position: absolute;
width: 20px;
height: 20px;
left: 38px;
top: 215px;



/* Vector */

position: absolute;
left: 13.89%;
right: 13.89%;
top: 52.77%;
bottom: 8.33%;

background: #92B158;


/* Vector */

position: absolute;
left: 30.56%;
right: 30.56%;
top: 8.33%;
bottom: 52.78%;

background: #92B158;


/* Group 43 */

width: 258px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* Frame 33 */

position: absolute;
width: 258px;
height: 50px;
left: 0px;
top: 250px;



/* Group 29 */

position: absolute;
width: 258px;
height: 50px;
left: 0px;
top: 0px;



/* Rectangle 12 */

position: absolute;
width: 258px;
height: 50px;
left: 0px;
top: 0px;

background: #262401;


/* Wallet */

position: absolute;
width: 64px;
height: 19px;
left: 81px;
top: 266px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;



/* Group 30 */

position: absolute;
width: 20px;
height: 20px;
left: 38px;
top: 265px;



/* Ellipse 4 */

box-sizing: border-box;

position: absolute;
visibility: hidden;
width: 30px;
height: 30px;
left: 33px;
top: 260px;

background: #FFFFFF;
opacity: 0.15;
border: 1px solid #FFFFFF;


/* fluent:wallet-24-filled */

position: absolute;
width: 20px;
height: 20px;
left: 38px;
top: 265px;



/* Group */

position: absolute;
left: 12.5%;
right: 10.42%;
top: 12.5%;
bottom: 12.5%;



/* Vector */

position: absolute;
left: 12.5%;
right: 10.42%;
top: 12.5%;
bottom: 12.5%;

background: #92B158;


/* Group 44 */

width: 258px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* Frame 33 */

position: absolute;
width: 258px;
height: 50px;
left: 0px;
top: 300px;



/* Group 29 */

position: absolute;
width: 258px;
height: 50px;
left: 0px;
top: 0px;



/* Rectangle 12 */

position: absolute;
width: 258px;
height: 50px;
left: 0px;
top: 0px;

background: #262401;


/* Chat & Support */

position: absolute;
width: 110px;
height: 19px;
left: 81px;
top: 316px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;



/* fluent:person-support-20-filled */

position: absolute;
width: 20px;
height: 20px;
left: 38px;
top: 315px;



/* Group */

position: absolute;
left: 15%;
right: 15%;
top: 10%;
bottom: 10%;



/* Vector */

position: absolute;
left: 20.01%;
right: 30.01%;
top: 10%;
bottom: 50%;

background: #92B158;


/* Vector */

position: absolute;
left: 15%;
right: 15%;
top: 55%;
bottom: 10%;

background: #92B158;


/* Group 45 */

width: 258px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 7;
flex-grow: 0;


/* Frame 33 */

position: absolute;
width: 258px;
height: 50px;
left: 0px;
top: 350px;



/* Group 29 */

position: absolute;
width: 258px;
height: 50px;
left: 0px;
top: 0px;



/* Rectangle 12 */

position: absolute;
width: 258px;
height: 50px;
left: 0px;
top: 0px;

background: #262401;


/* Settings */

position: absolute;
width: 64px;
height: 19px;
left: 81px;
top: 366px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;



/* Group 21 */

position: absolute;
width: 17.33px;
height: 20px;
left: 37.53px;
top: 365px;



/* Ellipse 4 */

box-sizing: border-box;

position: absolute;
visibility: hidden;
width: 30px;
height: 30px;
left: 33px;
top: 360px;

background: #FFFFFF;
opacity: 0.15;
border: 1px solid #FFFFFF;


/* ci:settings-filled */

position: absolute;
width: 17.33px;
height: 20px;
left: 37.53px;
top: 365px;



/* Group */

position: absolute;
left: 9.57%;
right: 9.58%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 9.57%;
right: 9.58%;
top: 8.33%;
bottom: 8.33%;

background: #92B158;


/* Group 46 */

width: 258px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 8;
flex-grow: 0;


/* Frame 33 */

position: absolute;
width: 258px;
height: 50px;
left: 0px;
top: 400px;



/* Group 29 */

position: absolute;
width: 258px;
height: 50px;
left: 0px;
top: 0px;



/* Rectangle 12 */

position: absolute;
width: 258px;
height: 50px;
left: 0px;
top: 0px;

background: #262401;


/* Log Out */

position: absolute;
width: 64px;
height: 19px;
left: 81px;
top: 416px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;



/* Vector */

position: absolute;
width: 18px;
height: 18px;
left: 38px;
top: 415px;

background: #92B158;

